<div class="card w-75 m-auto mt-5">
  <div class="card-header">
    {{ stock.name }} ({{ stock.symbol }})
    <div class="d-inline-block float-end card-close-button" (click)="closeCard(stock.symbol)">
      <i class="bi bi-x-lg"></i>
    </div>
  </div>
  <div class="card-body">
    <div class="row g-0">
      <div class="col-12 col-sm-9">
        <div class="row g-0">
          <div class="col-12 col-sm-6">Change
            today {{ stock.percentChange > 0 ? '+' : ''}}{{ stock.percentChange | percent:'1.1' }}</div>
          <div class="col-12 col-sm-6">Opening price {{ stock.openingPrice | currency:'USD'}}</div>
          <div class="col-12 col-sm-6">Current price {{ stock.currentPrice | currency:'USD' }}</div>
          <div class="col-12 col-sm-6">High price {{ stock.highPrice | currency:'USD'}}</div>
        </div>
      </div>
      <div class="col-12 col-sm-3 text-center">
        <app-stock-status-indicator [status]="stock.percentChange > 0 ? 'increase' : 'decrease'"></app-stock-status-indicator>
      </div>
    </div>
    <div class="mt-3">
      <button class="btn btn-secondary" [routerLink]="['sentiment', stock.symbol]">Go to social sentiment details ></button>
    </div>
  </div>
</div>
